article{  
  background: url(http://goo.gl/RiHWmp);
  border-radius:1em;   
}



#top{
  text-align:center;
  
}

h1{
   color: #263358;
  font-size: 30px;
  text-align:center;
  font-family:Raleway:800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
  margin:1em;
}

 
 
.form{ 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 150px; 
    padding-left:10px; 
    padding-right:10px; 
  } 

.left{
  left:1.5em;
  
}

#thx{
  text-align:center;  
  
}