

article#course{
  max-width:1280px;
  padding:1em;
  background: url(http://goo.gl/jPDEui );
  border-radius:1em;  
 
}


.nav_btn {
  float: left;
  padding: 0.5em 2em;
  box-sizing:border-box;
  
}

#top{
  
  margin:1.5em;
  text-align:center ; 
}




.header{
  color: #263358;
  font-size: 30px;
  text-align:center;
  font-family:Raleway:800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
  margin:1em;
 
}

#nccu{
 
 text-align:center;
}
 

.row{
  margin: 1.5em;
  font-size: 15px;
  
}

.contents{
  font-size:10px;
  font-family:effra;
   
}

.section{
  position:relative;
}

.title{
  color: #f8b62c;
  font-size:1em;
  font-weight:500;
}



.description{
  color: #383838;
}

.sep{
  margin: 1.5em 5px;
  width:100%;
  
}

ul{
  padding: 1.5em;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);  
}

ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol> li{
    color:#383838;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 1px solid #CCCCCC;
}
ol> li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}
.btn-2d{
  border-radius:5px;
  
}
.btn-2{
  background:#263358;
  color:#fff;
  box-shadow:0 6px #171e34;
  transition:none;  
}
.btn{
  border:none;
  cursor:pointer;
  font-size:20px;
  padding:25px 80px ;
  display:inline-block;
  margin:15px 30px ;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:700px;
  outline:none;
  position:relative;
  
}

.btn:hover,
.btn:visited{
  background:#f8b62c;
  box-shadow:0 6px #e9a008;
  
}








