

article#course{
  max-width:1280px;
  padding:1em;
  background: url(http://goo.gl/jPDEui );
  border-radius:1em;  
 
}

<!--@media screen and (max-width:600px) {
  nav {
    width: 100%;
  }
  .title{
  position: static !important;
  margin:0;     
    
  }
 
  .description{
    position: static;
    margin:0 !important;       
  }

}  
-->




/*nav {
  border: 1px solid #f8b62c; 
}*/

.nav_btn {
  float: left;
  padding: 0.5em 2em;
  box-sizing:border-box;
  
}

#top{
  
  margin:1.5em;
  text-align:center ; 
}




.header{
  color: #263358;
  font-size: 30px;
  text-align:center;
  font-family:Raleway:800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
  margin:1em;
 
}

#nccu{
 
 text-align:center;
}
 

.row{
  margin: 1.5em;
  font-size: 15px;
  
}

.contents{
  font-size:10px;
  font-family:effra;
   
}

.section{
  position:relative;
}

.title{
  color: #f8b62c;
  font-size:1em;
  font-weight:500;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f8b62c;
  border-color: #f8b62c;
}


.description{
  color: #383838;
}

.sep{
  margin: 1.5em 5px;
  width:100%;
  
}

ul{
  padding: 1.5em;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);  
}

ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol> li{
    color:#383838;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 1px solid #CCCCCC;
}
ol> li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}






